{% extends 'base.html' %}


{% block title %}
<title> Simulation of password data collection </title>
{% endblock %}


{% block intro %}
<p> This webpage collects keystrokes that are entered in the input area for password simulation</p>
<!-- <p> For free text simulation go to: <a href="{{url_for('view.textarea')}}">Textarea</a></p> -->
{% endblock %}

{% block content %}
<input id="centerme">
{% endblock %}


{% block script %}
<script>
	var last_ev = null;
	var keytype = null;
	var timestamp = null;
	var timepreviousKey = 0;
	var counter = 1, session = 1, user = 1;

    function StreamEvent(event) {      
    	if (event.type == 'keydown') {
    		keytype = 0;
    	}
    	else {
    		keytype = 1;
    	}


    	timestamp = new Date().getTime();

    	if (last_ev != null) {
    		timepreviousKey = timestamp - last_ev.clockTime;
        }

        var ev = {
        	user_id: user,
        	session_id: session,
        	repetition: counter,
        	type: keytype,
                clockTime: timestamp,		// alternatively, performance.now() https://github.com/w3c/hr-time https://github.com/w3c/hr-time/issues/56
                //timestamp: event.timeStamp,
                //altkey: event.altKey,
                //metakey: event.metaKey,
                key: event.key,
                keyCode: event.keyCode,
                lastkey: timepreviousKey,
                //target: event.target.name,
                //type: event.type,
                //button: event.button,
                //buttons: event.buttons,
                //pageX: event.pageX,
                //pageY: event.pageY,
                //screenX: event.screenX,
                //screenY: event.screenY,
        }; 

    	$.ajax({
    		type: 'POST',
    		url: "{{url_for('view.input')}}",
    		contentType: "application/json",
    		dataType: "json",
    		data: JSON.stringify(ev),
    		success: function(response) {
	            console.log(response);
	        },
	        error: function(response) {
	            console.log(response);
	        }
    	});
    	
    	//console.log(ev.lastkey);
    	if (event.key == 'Enter' && event.type == "keyup") {
    		if (counter==50) {
    			if (session==8) {
    				user++;
    				session=1;
    			} else {
    				session++;
    			}
    			counter=1;
    		} else {
    			counter++;
    		}
        	last_ev = null;
        	timepreviousKey = 0;
        	$('#centerme').val("");
        	//console.log("User: " + user + "\nSession: " + session + "\nCounter: " + counter);
        }
        else {
        	last_ev = ev;
        }

        
    }
    

  $("#centerme").keydown(function(event){
    // var shouldSleep = Math.round(Math.random()) < 0.5 ? sleepRand(200) : false;
    StreamEvent(event);
  });
  $("#centerme").keyup(function(event){
    // var shouldSleep = Math.round(Math.random()) < 0.5 ? sleepRand(200) : false;
    StreamEvent(event);
  });


  function sleepRand(time) {
    var now = new Date().getTime();
    var end = (now + (Math.random() * parseInt(time)) + 1);
    while(new Date().getTime() < end){ /* do nothing */ }
  }

</script>
{% endblock %}
